<form id="questions" method="post" action="/questions">
  <input type="text" name="question[text]" placeholder="image link">
  <input type="text" name="question[body]" placeholder="question">
  <input type="submit" value="submit new question">
</form>
