<form id="questions" method="post" action="/questions">
  <input type="text" name="text" placeholder="image link">
  <input type="text" name="body" placeholder="question">
  <input type="submit" value="submit new question">
</form>
