body {
  background-color: #E6E6E6;
  /*padding: 20px;*/
}
h1 {
    color: black;
    text-align: center;
    /*text-decoration: line-through;*/
    letter-spacing: 3px;
    font-family: "Arial Black", Gadget, sans-serif;
}

h2 {
  color: black;
  text-align: center;
  font-style: italic;
  /*text-decoration: line-through;*/
  letter-spacing: 3px;
  font-family: "Lucida Console", Gadget, sans-serif;
}

h3 {
    color: black;
    text-align: center;
    /*text-decoration: line-through;*/
    letter-spacing: 3px;
    font-family: "Arial Black", Gadget, sans-serif;
}

a {
    color: black;
}

a:hover {
  color: red;
}

.question-container {
  font-family: Verdana, Geneva, sans-serif;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    position: fixed;
    top: 0;
    width: 100%;
    opacity: 0.6;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: #111;
}

form {
  margin-left: 20px;
}

#page-header{
  margin-top: 50px;
}
#nav-bar a {
  color: #8B4513;
}
#nav-bar a:hover {
  color: red;
}

.question-image {
 /* align-content: center;*/
  margin-right: 50px;
  margin-left: 50px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.response-table {
  border: solid;
  border-width: 1px;
  border-radius: 25px;
  margin-bottom: 15px;
}

.answer-text{
  text-align: left;
}

#vote-button{
  margin-left: 10px;

}
.upvote-count{
  float: left;
  margin-top: 15px;
  margin-right: 5px;
  color: green;
}
.downvote-count{
  float: left;
  margin-top: 15px;
  margin-right: 5px;
  color: red;
}
.answer-upvote-button{
margin-top: 10px;
}

.answer-downvote-button{
  width: 36.08px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.all-question-list{
  margin: 15px;
  border: solid;
  border-width: 1px;
  border-radius: 25px 25px;
  padding: 15px;
}

.all-question-list img{
  border-radius: 10px;
}

.all-question-list img{
  outline: 1px solid #E6E6E6;
  border: 4px solid transparent;
}
.all-question-list img:hover {
  outline: 0px solid transparent;
  border: 4px solid #B73BCA;
}

.show-page-image {
  margin-top: 50px;
}

.imgContainer{
    float:left;
}

.upvote-button {
  background-color: transparent;
  border: none;
  padding-top: 5px;
  color: #8C8C8C;
  vertical-align: sub;
  padding: 1px 0px 0px 0px;
}

.answer-text-box{
  width: 500px;
  margin-top: 15px;
  margin-bottom: 5px;
}

.inline {
  margin-top: 100px;
}

input[type='submit'] {
  border-color: black;
}

input[type="text"] {
  border-color: grey;
}

input[type="password"] {
  border-color: grey;
}
