<h2> SIGN UP </h2>

<form id="register_new_user_form" action="/users" method="POST">
   <input type="text" required name="user[username]" placeholder="Enter Username">
   <input type="password" required  name="user[password]" placeholder="Enter Password">
   <input type="password" required  name="password_confirmation" placeholder="Confirm Password">
   <input type="submit" name="Register">
</form>
