<h3 id="page-header"> You are currently logged in </h3>

<%= erb :'questions/new', layout: false %>

<% @questions.each do |question| %>
   <ol><a href="/questions/<%= question.id %>"><%= question.body %></a></ol>
<% end %>
