<% if logged_in? %>
   <span><%= current_user.username %></span>
   <form id="logout_user_form" action="/logout" method="GET">
      <input type="hidden" name="_method" value="DELETE">
      <input type="submit" value="Logout">
   </form>
<% else %>
   <a class="register_link" href="/users/new">SIGN UP</a>
   <br/>
   <a class="login_link" href="/login">LOG IN</a>
<% end %>
